.dropdown-container {
    height: 100vh;
    width: 100%;
}

.center-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 1rem 0 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #a09797;
}

.dropdown {
    width: 100%;
    position: relative;
}

.dropdown-with-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.drop-search {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.item-drop {
    width: 25rem;
    height: 5rem;
    /* border: 1px solid #fff; */
    position: relative;
    border-radius: 5px;
}

.item-drop select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: rgb(130, 116, 116);
    font-size: 2rem;
    border-radius: 5px;
}

.item-drop select option {
    background: #dfdbdb;
    color: #000000;
}

.drop-search input {
    width: 65%;
    height: 5rem;
    font-size: 2rem;
    padding-left: 1rem;
    border: none;
    outline: none;
    border-left: 1px solid black;
    border-radius: 5px;
}

.go-btn {
    width: 20rem;
    height: 5rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(51, 150, 51);
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background: rgba(216, 14, 14, 0.891);
}

.display-box {
    width: 90%;
    height: 80%;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid rgb(34, 34, 32);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.start-quiz {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: 17px;
    cursor: pointer;
}

.question-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1 auto);
    grid-template-rows: repeat(auto 1fr);
    font-size: 2.5rem;
    font-family: sans-serif;
    padding: 2rem 0 2rem 2rem;
}