
.dropdown-container{
    height: 100vh;
    width: 100%;
}
.center-container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.dropdown{
    width: 100%;
    height: 10rem;
    position: relative;
}

.dropdown-with-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.drop-search{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
.item-drop{
    width: 25rem;
    height: 5rem;
    /* border: 1px solid #fff; */
    position: relative;
    border-radius: 5px;
}
.item-drop select{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: rgb(130, 116, 116);
    font-size: 2rem;
    border-radius: 5px;
}
.item-drop select option{
    background: #000;
    color: #fff;
}
.drop-search input{
    width: 65%;
    height: 5rem;
    font-size: 2rem;
    padding-left: 1rem;
    border: none;
    outline: none;
    border-left: 1px solid black;
    border-radius: 5px;
}

.go-btn{
    width: 20rem;
    height: 5rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 2rem;
    background: rgb(112, 177, 112);
}
.progress-bar{
    width: 100%;
    height: 1rem;
    background: #000;
    margin-top: 1rem;
}

.display-box{
width: 90%;
height: 100%;
background: cyan;
margin: 0 auto;
position: relative;
border-radius: 5px;

}

.start-quiz{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: 17px;
    cursor: pointer;
}